--extra-index-url https://download.pytorch.org/whl/cu121
numpy==1.26.0
torch==2.3.1+cu121 
diffusers
accelerate
transformers
opencv-python
einops
Pillow
face_crop_plus
git+https://github.com/tencent-ailab/IP-Adapter.git

